@model ProyectoDES_Empresa.Models.Compra

@{
    ViewData["Title"] = "Delete";
}

<html>
<head>
    <title>Eliminar Compra</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
    <div class="container">
        <br /><br />
        <h3> ELIMINAR COMPRA </h3>
        <h4>¿Estás seguro que deseas eliminar esta compra?</h4>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaCompra)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaCompra)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Proveedor)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Proveedor.NombreProveedor)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Producto)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Producto.Categoria.NombreCategoria) - @Html.DisplayFor(model => model.Producto.NombreProducto)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UnidadesCompra)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UnidadesCompra)
                </dd>
            </dl>
            <hr />
            <br />
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-raised btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

