@model IEnumerable<ProyectoDES_Empresa.Models.Empleado>

@{
    ViewData["Title"] = "Listado";
}

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
    <div class="container">
        <div class="contenedorInterno">
            @* Sección Título *@
            <div class="row align-items-center mb-3">
                <div class="col">
                    <h3>REGISTRO DE EMPLEADOS</h3>
                </div>
                <div class="col text-right">
                    <a asp-area="" asp-controller="Empleados" asp-action="Create" class="btn btn-raised btn-primary">Agregar empleado</a>
                </div>
            </div>

            @* Sección de Búsqueda *@
            <div class="row">
                <div class="col">
                    <div class="p-0" style="padding-bottom: 0.5rem;">
                        <form asp-controller="Empleados" asp-action="Index" method="get">
                            <div class="form-group d-flex align-items-center mb-0">
                                <input type="text" name="nombreABuscar" class="form-control mr-2 flex-grow-1" placeholder="Filtrar por nombre..." />
                                <input type="text" name="apellidoABuscar" class="form-control mr-2 flex-grow-1" placeholder="Filtrar por apellido..." />
                                <button type="submit" class="btn btn-raised btn-primary btn-just-icon btn-sm my-auto">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @* Sección de Tabla *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComisionVentaEmpleado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComisionVentaEmpleado)
            </td>
                        <td class="td-actions">
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-raised btn-primary btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                                <i class="material-icons">edit</i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-raised btn-secondary btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                                <i class="material-icons">info</i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

