@model IEnumerable<ProyectoDES_Empresa.Models.Venta>

@{
    ViewData["Title"] = "Listado";
}

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/Create.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
    <div class="container">
        <h3>REGISTRO DE VENTAS</h3>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Ventas" asp-action="Create">Registrar nueva venta </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Listado de Ventas</li>
                    </ol>
                </nav>
            </div>
        </div>
        <form asp-controller="Ventas" asp-action="Index" method="get">
            <dl class="row">
                <dd class="col-sm-5">
                    <input type="date" name="fechaInicioTexto" class="form-control" placeholder="Fecha Inicial (DD/MM/YYYY)" />
                </dd>
                <dd class="col-sm-5">
                    <input type="date" name="fechaFinTexto" class="form-control" placeholder="Fecha Final (DD/MM/YYYY)" />
                </dd>
                <dd class="col-sm-1">
                    <button type="submit" class="btn btn-raised btn-primary btn-just-icon btn-sm">
                        <i class="material-icons">search</i>
                    </button>
                </dd>
            </dl>
        </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotalVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                Comisión Vendedor ($)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Categoria.NombreCategoria) - @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadesVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotalVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.NombreEmpleado)
            </td>
            <td>
                @(
                    Math.Round(Convert.ToDouble(item.PrecioTotalVenta) *
                    Convert.ToDouble(item.Empleado.ComisionVentaEmpleado) / 100,2)
                 )
            </td>

            <td class="td-actions">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-raised btn-primary btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                    <i class="material-icons">edit</i>
                </a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-raised btn-secondary btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                    <i class="material-icons">info</i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-just-icon btn-sm" rel="tooltip" data-original-title="" title="">
                    <i class="material-icons">delete</i>
                </a>
            </td>
            </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</body>
</html>

